body {font-family:Georgia, 'Times New Roman', Times, serif;}
h1 {color:darkolivegreen;}
h2 {color: #ffffff}
.evenrow {background-color:cornflowerblue;}
h1 {font-size: 4em;
text-align: center;}
h2 {font-size: 3em;}
nav {background-color: #a34141;
padding: 10px;
margin-bottom: 30px
}
nav a {color: #ffffff;}
nav a:hover {background-color:#451c1c;}
.copy {float: left;}
.quote {float: right;}
.address {display: flex;}
.linkedin {display: flex;}
.form {display: flex;}